body{
    font-family: "Roboto Mono", "sans-serif";
}
#calculator{
    margin: auto;
    max-width: 300px;
    height: 400px;
    border: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 8px;
}

.output-display{
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.832);
    color: white;
    padding: 15px;
    text-align: end;
    font-size: 30px;
    height: 15%;
}

.buttons {
    display: flex;
    width: 100%;
    height: 85%;
    flex-wrap: wrap;
}
button{
    font-size: 20px;
    border-style: dotted;
    border-color: black;
}

.digit{
    background-color: rgb(179, 216, 250);
    width: 25%;
}

#clear-btn{
    width: 75%;
    background-color: rgb(169, 137, 93);
}

#zero{
    width: 50%;
}

#equal-sign{
    width: 50%;
    background-color: rgb(200, 157, 96);
    border-bottom: none;
    border-right: none;
}

.operator{
    width: 25%;
    background-color: rgb(17, 84, 152);
    border-right: none;
}
#zero{
    border-bottom: none;
}

#seven, #four, #three, #zero, #clear-btn{
    border-left: none;
}

.divide, #clear-btn{
    border-top: none;
}


